<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap uap3 mp">

  <Identity
    Name="ad5d3589-3ac0-4af1-bdd3-9e449335f695"
    Publisher="CN=onehoon"
    Version="1.0.0.1" />

  <mp:PhoneIdentity PhoneProductId="ad5d3589-3ac0-4af1-bdd3-9e449335f695" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Easy_Shortcut_for_UMPC</DisplayName>
    <PublisherDisplayName>onehoon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Easy_Shortcut_for_UMPC.App">
      <uap:VisualElements
        DisplayName="Easy_Shortcut_for_UMPC"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Easy_Shortcut_for_UMPC"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="microsoft.gameBarUIExtension"
            Id="Widget2"
            DisplayName="Easy Shortcut for UMPC"
            Description="Quick shortcut panel for UMPC"
            PublicFolder="GameBar">
            <uap3:Properties>
              <GameBarWidget Type="Standard">
                <HomeMenuVisible>true</HomeMenuVisible>
                <PinningSupported>true</PinningSupported>
                <ActivateAfterInstall>true</ActivateAfterInstall>
                <FavoriteAfterInstall>true</FavoriteAfterInstall>
                <Window>
                  <Size>
                    <Height>300</Height>
                    <Width>400</Width>
                    <MinHeight>150</MinHeight>
                    <MinWidth>200</MinWidth>
                    <MaxHeight>350</MaxHeight>
                    <MaxWidth>450</MaxWidth>
                  </Size>
                  <ResizeSupported>
                    <Horizontal>true</Horizontal>
                    <Vertical>true</Vertical>
                  </ResizeSupported>
                </Window>
              </GameBarWidget>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
